In [14]:
import pandas as pd
# Delimitando as colunas a serem analizadas.
cols = ['ID_REGIAO' ,'ID_UF' ,'ID_MUNICIPIO' ,'ID_TURNO' ,'ID_ALUNO', 
 'IN_SITUACAO_CENSO','IN_PREENCHIMENTO_MT','PROFICIENCIA_MT_SAEB',
 'IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q001' ,'TX_RESP_Q002',
 'TX_RESP_Q003A' ,'TX_RESP_Q003B' ,'TX_RESP_Q003C', 'TX_RESP_Q003D',
 'TX_RESP_Q003E', 'TX_RESP_Q004', 'TX_RESP_Q005' ,'TX_RESP_Q006A',
 'TX_RESP_Q006B', 'TX_RESP_Q006C' ,'TX_RESP_Q006D', 'TX_RESP_Q006E',
 'TX_RESP_Q007' ,'TX_RESP_Q008A', 'TX_RESP_Q008B', 'TX_RESP_Q008C',
 'TX_RESP_Q009A' ,'TX_RESP_Q009B', 'TX_RESP_Q009C' ,'TX_RESP_Q009D',
 'TX_RESP_Q009E' ,'TX_RESP_Q009F' ,'TX_RESP_Q009G' ,'TX_RESP_Q010A',
 'TX_RESP_Q010B' ,'TX_RESP_Q010C', 'TX_RESP_Q010D' ,'TX_RESP_Q010E',
 'TX_RESP_Q010F', 'TX_RESP_Q010G', 'TX_RESP_Q010H', 'TX_RESP_Q010I',
 'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013' ,'TX_RESP_Q014',
 'TX_RESP_Q015', 'TX_RESP_Q016' ,'TX_RESP_Q017A' ,'TX_RESP_Q017B',
 'TX_RESP_Q017C' ,'TX_RESP_Q017D', 'TX_RESP_Q017E' ,'TX_RESP_Q018A',
 'TX_RESP_Q018B' ,'TX_RESP_Q018C' ,'TX_RESP_Q019']
df = pd.read_csv('TS_ALUNO_9EF.csv', usecols= cols,sep= ',')
df.head()

,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_TURNO,ID_ALUNO,IN_SITUACAO_CENSO,IN_PREENCHIMENTO_MT,PROFICIENCIA_MT_SAEB,IN_PREENCHIMENTO_QUESTIONARIO,TX_RESP_Q001,...,TX_RESP_Q016,TX_RESP_Q017A,TX_RESP_Q017B,TX_RESP_Q017C,TX_RESP_Q017D,TX_RESP_Q017E,TX_RESP_Q018A,TX_RESP_Q018B,TX_RESP_Q018C,TX_RESP_Q019
0,1,11,1100015,1,34874910,1,1,239.920418,1,A,...,A,D,A,D,B,A,C,B,A,C
1,1,11,1100015,1,34874911,1,1,244.042645,1,A,...,A,D,A,D,B,A,A,A,A,C
2,1,11,1100015,1,34874912,1,1,230.205828,1,A,...,A,D,A,D,C,A,C,B,B,D
3,1,11,1100015,1,34874913,1,1,268.977498,1,A,...,A,C,A,D,C,A,A,A,A,D
4,1,11,1100015,1,34874914,1,1,260.803189,1,A,...,A,C,A,*,B,A,B,A,A,C

In [15]:
df_alunos.shape

(2388931, 58)

In [16]:
#Selecionando somente os alunos que preencheram a prova de mt.
df = df[(df["IN_PREENCHIMENTO_MT"]==1)&(df['IN_PREENCHIMENTO_QUESTIONARIO']==1)]
df.drop(['IN_PREENCHIMENTO_MT','IN_PREENCHIMENTO_QUESTIONARIO'], axis=1, inplace = True)
df.head()

,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_TURNO,ID_ALUNO,IN_SITUACAO_CENSO,PROFICIENCIA_MT_SAEB,TX_RESP_Q001,TX_RESP_Q002,TX_RESP_Q003A,...,TX_RESP_Q016,TX_RESP_Q017A,TX_RESP_Q017B,TX_RESP_Q017C,TX_RESP_Q017D,TX_RESP_Q017E,TX_RESP_Q018A,TX_RESP_Q018B,TX_RESP_Q018C,TX_RESP_Q019
0,1,11,1100015,1,34874910,1,239.920418,A,A,B,...,A,D,A,D,B,A,C,B,A,C
1,1,11,1100015,1,34874911,1,244.042645,A,C,B,...,A,D,A,D,B,A,A,A,A,C
2,1,11,1100015,1,34874912,1,230.205828,A,C,B,...,A,D,A,D,C,A,C,B,B,D
3,1,11,1100015,1,34874913,1,268.977498,A,C,B,...,A,C,A,D,C,A,A,A,A,D
4,1,11,1100015,1,34874914,1,260.803189,A,A,B,...,A,C,A,*,B,A,B,A,A,C

In [17]:
# Verificando a quantidade de alunos que preencheram a prova.
df.shape

(1924129, 56)

In [18]:
# Analizando o comportamento das notas.
df['PROFICIENCIA_MT_SAEB'].describe()

count    1.924083e+06
mean     2.572198e+02
std      4.904436e+01
min      1.263265e+02
25%      2.231211e+02
50%      2.589428e+02
75%      2.917224e+02
max      3.974874e+02
Name: PROFICIENCIA_MT_SAEB, dtype: float64

In [19]:
df.dtypes

ID_REGIAO                 int64
ID_UF                     int64
ID_MUNICIPIO              int64
ID_TURNO                  int64
ID_ALUNO                  int64
IN_SITUACAO_CENSO         int64
PROFICIENCIA_MT_SAEB    float64
TX_RESP_Q001             object
TX_RESP_Q002             object
TX_RESP_Q003A            object
TX_RESP_Q003B            object
TX_RESP_Q003C            object
TX_RESP_Q003D            object
TX_RESP_Q003E            object
TX_RESP_Q004             object
TX_RESP_Q005             object
TX_RESP_Q006A            object
TX_RESP_Q006B            object
TX_RESP_Q006C            object
TX_RESP_Q006D            object
TX_RESP_Q006E            object
TX_RESP_Q007             object
TX_RESP_Q008A            object
TX_RESP_Q008B            object
TX_RESP_Q008C            object
TX_RESP_Q009A            object
TX_RESP_Q009B            object
TX_RESP_Q009C            object
TX_RESP_Q009D            object
TX_RESP_Q009E            object
TX_RESP_Q009F            object
TX_RESP_Q009G            object
TX_RESP_Q010A            object
TX_RESP_Q010B            object
TX_RESP_Q010C            object
TX_RESP_Q010D            object
TX_RESP_Q010E            object
TX_RESP_Q010F            object
TX_RESP_Q010G            object
TX_RESP_Q010H            object
TX_RESP_Q010I            object
TX_RESP_Q011             object
TX_RESP_Q012             object
TX_RESP_Q013             object
TX_RESP_Q014             object
TX_RESP_Q015             object
TX_RESP_Q016             object
TX_RESP_Q017A            object
TX_RESP_Q017B            object
TX_RESP_Q017C            object
TX_RESP_Q017D            object
TX_RESP_Q017E            object
TX_RESP_Q018A            object
TX_RESP_Q018B            object
TX_RESP_Q018C            object
TX_RESP_Q019             object
dtype: object

In [20]:
df.isna().sum()

ID_REGIAO                0
ID_UF                    0
ID_MUNICIPIO             0
ID_TURNO                 0
ID_ALUNO                 0
IN_SITUACAO_CENSO        0
PROFICIENCIA_MT_SAEB    46
TX_RESP_Q001             0
TX_RESP_Q002             0
TX_RESP_Q003A            0
TX_RESP_Q003B            0
TX_RESP_Q003C            0
TX_RESP_Q003D            0
TX_RESP_Q003E            0
TX_RESP_Q004             0
TX_RESP_Q005             0
TX_RESP_Q006A            0
TX_RESP_Q006B            0
TX_RESP_Q006C            0
TX_RESP_Q006D            0
TX_RESP_Q006E            0
TX_RESP_Q007             0
TX_RESP_Q008A            0
TX_RESP_Q008B            0
TX_RESP_Q008C            0
TX_RESP_Q009A            0
TX_RESP_Q009B            0
TX_RESP_Q009C            0
TX_RESP_Q009D            0
TX_RESP_Q009E            0
TX_RESP_Q009F            0
TX_RESP_Q009G            0
TX_RESP_Q010A            0
TX_RESP_Q010B            0
TX_RESP_Q010C            0
TX_RESP_Q010D            0
TX_RESP_Q010E            0
TX_RESP_Q010F            0
TX_RESP_Q010G            0
TX_RESP_Q010H            0
TX_RESP_Q010I            0
TX_RESP_Q011             0
TX_RESP_Q012             0
TX_RESP_Q013             0
TX_RESP_Q014             0
TX_RESP_Q015             0
TX_RESP_Q016             0
TX_RESP_Q017A            0
TX_RESP_Q017B            0
TX_RESP_Q017C            0
TX_RESP_Q017D            0
TX_RESP_Q017E            0
TX_RESP_Q018A            0
TX_RESP_Q018B            0
TX_RESP_Q018C            0
TX_RESP_Q019             0
dtype: int64

In [25]:
# Tratamento de dados nulos
df.dropna(inplace=True)
df.shape

(1924083, 56)

In [33]:
Qt=['TX_RESP_Q001' ,'TX_RESP_Q002',
 'TX_RESP_Q003A' ,'TX_RESP_Q003B' ,'TX_RESP_Q003C', 'TX_RESP_Q003D',
 'TX_RESP_Q003E', 'TX_RESP_Q004', 'TX_RESP_Q005' ,'TX_RESP_Q006A',
 'TX_RESP_Q006B', 'TX_RESP_Q006C' ,'TX_RESP_Q006D', 'TX_RESP_Q006E',
 'TX_RESP_Q007' ,'TX_RESP_Q008A', 'TX_RESP_Q008B', 'TX_RESP_Q008C',
 'TX_RESP_Q009A' ,'TX_RESP_Q009B', 'TX_RESP_Q009C' ,'TX_RESP_Q009D',
 'TX_RESP_Q009E' ,'TX_RESP_Q009F' ,'TX_RESP_Q009G' ,'TX_RESP_Q010A',
 'TX_RESP_Q010B' ,'TX_RESP_Q010C', 'TX_RESP_Q010D' ,'TX_RESP_Q010E',
 'TX_RESP_Q010F', 'TX_RESP_Q010G', 'TX_RESP_Q010H', 'TX_RESP_Q010I',
 'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013' ,'TX_RESP_Q014',
 'TX_RESP_Q015', 'TX_RESP_Q016' ,'TX_RESP_Q017A' ,'TX_RESP_Q017B',
 'TX_RESP_Q017C' ,'TX_RESP_Q017D', 'TX_RESP_Q017E' ,'TX_RESP_Q018A',
 'TX_RESP_Q018B' ,'TX_RESP_Q018C' ,'TX_RESP_Q019']

In [34]:
df['TX_RESP_Q001'] = df['TX_RESP_Q001'].astype('category')
df['TX_RESP_Q002'] = df['TX_RESP_Q002'].astype('category')
df['TX_RESP_Q003A'] = df['TX_RESP_Q003A'].astype('category')
df['TX_RESP_Q003B'] = df['TX_RESP_Q003B'].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')
df[] = df[].astype('category')

AttributeError: module 'pandas' has no attribute 'to_category'

In [29]:
df_Qt= df[Qt].cat.codes

AttributeError: 'DataFrame' object has no attribute 'cat'